{% extends 'public/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/board.css' %}">
{% include 'public/nav.html' with pageName='msg_board' %}
{% endblock %}

{% block content %}
<div class="map">
    <ul>
        <li><i class="fa fa-map-marker"></i><a href="{% url 'home' %}">首页</a></li>
        <li><i class="fa fa-angle-right"></i><a href="">留言板</a></li>
    </ul>
</div>

<div class="page">
    <div>
        <p class="leave_title">留言板</p>
        <hr>
        <span class="leave_my">主人寄语</span>
        <!--<span class="leave_my_edit">编辑你的寄语</span>-->
        <hr>
        <div class="gb_own">
            <p><a>说些寄语，欢迎您的空间访客吧</a></p>
            <!--<p><img src="test.jpg" class="leave_my_text"/>的看法过户而灵活vopoiegf啊啊你贷款方丽君电视里的客户拒爱好就是狗屁话换个奥会很高二是科技hi哦好个</p>-->
        </div>
        <div>
            {% include 'public/message.html' %}
            <form action="." method="post">
                {% csrf_token %}
                昵称：{{ form.name }}
                <p>发表您的留言</p>
                <p></p>
                {{ form.content }}
                <br>
                <input type="submit" value="发表">
            </form>
        </div>
        <ul class="leave_set">
            <li>留言({{ msg_count }})</li>
            <li></li>
            {% if page.has_previous %}
            <li><a href="?page={{ page.previous_page_number }}">上一页</a></li>
            {% endif %}

            {% if page.has_next %}
            <li><a href="?page={{ page.next_page_number }}">下一页</a></li>
            {% endif %}
        </ul>
        <hr>
    </div>
    <div>
        <div class="message">
            {% for msg in msgs %}
            <div class="message_left">
                {% if msg.image %}
                <img src="{{ msg.image.url }}"/>
                {% else %}
                <i class="fa fa-image"></i>
                {% endif %}
            </div>
            <div class="message_right">

                <ul class="message_right_top">
                    <li>{{ msg.name }}</li>
                    <li>{{ msg.content }}</li>
                </ul>

            </div>
            {% empty %}
            <p>暂时还没有留言</p>
            {% endfor %}
        </div>
        <hr>
    </div>
    <div>
        <a>我要留言</a>
    </div>

</div>
{% endblock %}

{% block footer %}
{% include 'public/footer.html' %}
{% endblock %}