{% extends 'public/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% include 'public/nav.html' %}
{% endblock %}

{% block content %}
<div class="page">
    <div>
        <p class="leave_title">留言板</p>
        <hr>
        <span class="leave_my">主人寄语</span>
        <span class="leave_my_edit">编辑你的寄语</span>
        <hr>
        <div>
            <p><img src="test.jpg" class="leave_my_text"/>的看法过户而灵活vopoiegf啊啊你贷款方丽君电视里的客户拒爱好就是狗屁话换个奥会很高二是科技hi哦好个</p>
        </div>
        <ul class="leave_set">
            <li>留言</li>
            <li>留言板设置</li>
            <li>上一页</li>
            <li>下一页</li>
        </ul>
        <hr>
    </div>
    <div>
        <div class="message">
            <div class="message_left">
                <img src="test.png"/>
                <img src="test.png"/>
            </div>
            <div class="message_right">
                <ul class="message_right_top">
                    <li>名字</li>
                    <li>等级</li>
                    <li>沙发</li>
                    <li>引用</li>
                    <li>菜单</li>
                </ul>
            </div>
        </div>

    </div>

</div>>





{% endblock %}