{% extends 'public/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% include 'public/nav.html' %}
{% endblock %}

{% block content %}
<div class="blog">
{% for note in notes %}
    <figure>
        <a>
            <img src="{{ note.images.url|default:'' }}">
        </a>
        <p>
            <a href="{{ note.get_absolute_url }}">{{ note.title}}</a>
        </p>
        <p class="tags">Tags: {{ note.tags.all|join:", " }}</p>
        <figcaption>{{ note.body|truncatewords:8 }}</figcaption>
    </figure>
{% endfor %}
</div>
<div class="text6">留言板</div>
<div class="msg">
    <ul>
        <div class="visitors">
            {% for msg in blessings %}
            <dl>
                <dt>
                    <img src="{{ msg.image.url|default:'' }}">
                </dt>
                <dd>
                    <a>{{ msg.name }}</a>
                </dd>
                <dd>{{ msg.content }}</dd>
            </dl>
            {% endfor %}

        </div>
    </ul>
</div>
{% endblock %}
