{% extends 'public/base.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% include 'public/nav.html' %}
{% endblock %}

{% block content %}
<div class="blog">
{% for note in notes %}
    <figure>
        <a>
            <img src="">
        </a>
        <p>
            <a href="{{ note.get_absolute_url }}">{{ note.title}}</a>
        </p>
        <p class="tags">Tags: {{ note.tags.all|join:", " }}</p>
        <figcaption>{{ note.body}}</figcaption>
    </figure>
{% endfor %}
</div>
<div class="text6">留言板</div>
<div class="msg">
    <ul>
        <div class="visitors">

            <dl>
                <dt>
                    <img src="{% static 'images/portrait.jpg' %}">
                </dt>
                <dd>
                    <a>留言者昵称</a>
                </dd>
                <dd>留言</dd>
            </dl>

            <dl>
                <dt>
                    <img src="{% static 'images/portrait.jpg' %}">
                </dt>
                <dd>
                    <a>留言者昵称</a>
                </dd>
                <dd>留言</dd>
            </dl>

            <dl>
                <dt>
                    <img src="{% static 'images/portrait.jpg' %}">
                </dt>
                <dd>
                    <a>留言者昵称</a>
                </dd>
                <dd>留言</dd>
            </dl>

            <dl>
                <dt>
                    <img src="{% static 'images/portrait.jpg' %}">
                </dt>
                <dd>
                    <a>留言者昵称</a>
                </dd>
                <dd>留言</dd>
            </dl>

            <dl>
                <dt>
                    <img src="{% static 'images/portrait.jpg' %}">
                </dt>
                <dd>
                    <a>留言者昵称</a>
                </dd>
                <dd>留言</dd>
            </dl>

        </div>
    </ul>
</div>
{% endblock %}
