{% extends 'public/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/resume.css' %}">
{% include 'public/nav.html' with pageName='resume' %}
{% endblock %}


{% block content %}
<div class="map">
    <ul>
        <li><i class="fa fa-map-marker"></i><a href="{% url 'home' %}">首页</a></li>
        <li><i class="fa fa-angle-right"></i><a href="">关于我</a></li>
    </ul>
</div>

<div class="main">
    <div class="personal">
        <div class="title">
            <span>个人信息</span>
        </div>
        <div class="box">
        <div class="avatar">
            <img src="{% static 'images/me.jpg' %}">
        </div>
        <div class="infos">
            <ul>
                <li>姓名:付敏</li>
                <li>民族:汉</li>
                <li>出生日期:1991-10-12</li>
                <li>QQ:739588818</li>
                <li>邮箱:739588818@qq.com</li>
            </ul>
        </div>
        <div class="profile">
            <h3>PROFESIONAL PROFILE</h3>
            <p>信息管理专业，现在从事python web开发，熟练使用MyEclipse、PyCharm等工具，掌握wxPython、django等python开发框架，了解Oracle、MySQL、SQLServer、SQLite等数据库使用，勤奋踏实的我愿用所学与公司共同发展！</p>
        </div>
            </div>
    </div>
    <div class="education">
        <div class="title">
            <span>教育</span>
        </div>
        <div>
            <div class="edu_box">
                <div class="edu_left">
                    <p>2011-2015.12</p>
                    <div class="edu_left_line"></div>
                    <p>西南科技大学</p>
                    <p>本科</p>
                </div>
                <div class="edu_right">
                    <h2>信息管理与服务</h2>
                    <p>xxxxxxxxxxxxx</p>
                </div>
            </div>

            <div class="edu_box">
                <div class="edu_left">
                    <p>2011.09-2014.06</p>
                    <div class="edu_left_line"></div>
                    <p>四川交通职业技术学院</p>
                    <p>专科</p>
                </div>
                <div class="edu_right">
                    <h2>计算机网络技术</h2>
                    <p>xxxxxxxxxxxxxxxx</p>
                </div>
            </div>
        </div>
    </div>
    <div class="work">
        <div class="title">
            <span>工作经验</span>
        </div>
        <div>
            <div class="edu_box">
                <div class="edu_left">
                    <p>2016.07-至今</p>
                    <div class="edu_left_line"></div>
                    <p>指南针联网科技股份有限公司</p>
                </div>
                <div class="edu_right">
                    <h2>python B/S开发</h2>
                    <p>
                        自动化运维管理系统采用的是分布式系统，各个子功能模块分布在多个计算机上，其中主要功能模块有
  1.软件分发与安装；
  2.命令远程执行；
  3.模拟终端的远程链接；
  4.系统CPU，内存，网络等信息监控；
  5.企业统一认证系统管理；
  6.系统远程安装和电源管理；
  7.ceph存储；
  8.虚机管理和创建。

开发任务：
  了解系统架构，开发web界面、连接各功能模块，提供API接口，部署上线，编写文档

开发流程：
  1、搭建项目环境
  2、分模块完成web界面
  3、测试功能
  4、编写部署文档
  5、部署项目
  6、编写使用手册和API接口文档

开发结果：
  运维人员可以通过点击等操作完成原有复杂敲命令完成的工作，甚至可以通过web页面远程终端到部署我系统的服务器上。

体现能力：
  独立开发web能力、协同能力</p>
                </div>

            </div>
            <div class="edu_box">
                <div class="edu_left">
                    <p>2014.12-2016.07</p>
                    <div class="edu_left_line"></div>
                    <p>软通动力</p>
                </div>
                <div class="edu_right">
                    <h2>python C/S开发</h2>
                    <p>
                        项目描述：
  LTE FMA专家工具主要是华为内部使用，采用敏捷迭代开发，解析基站日志数据。

工作任务：
  了解需求、设计，开发功能模块，解决用户反馈问题

开发流程：
  1、熟悉工具使用；
  2、与owner沟通，澄清需求，评估开发时间；
  3、编写代码块，定期参加代码评审检视；
  4、与owner演示成果，确认功能是否符合需求；
  5、定位、修改用户反馈缺陷。

开发结果：
  开发功能满足需求，关闭网上缺陷单。

体现能力：
  沟通能力、协助能力、解决问题能力
                    </p>
                </div>

            </div>

        </div>
    </div>
    <div class="skills">
        <div class="title">
            <span>技能和知识</span>
        </div>
        <div class="canvas-skills">
            <canvas data-percent="80" class="perCanvas">
                您的浏览器不支持canvas标签。
            </canvas>
            <span>第一章：进度 80%</span>
        </div>
        <!--<div>-->

            <!--Python 熟练-->
            <!--Linux 良好-->
            <!--MySQL良好-->
            <!--HTML良好-->
            <!--JavaScript良好-->
            <!--MongoDB 一般-->
        <!--</div>-->
    </div>
    <div class="contact">
        <div class="title">
            <span>联系我</span>            
        </div>
        <div class="contact_content">
            <img src="{% static 'images/call-me.png' %}" class="tel_img">
            <p>地址：成都市高新区中和</p>
            <p>QQ：739588818</p>
            <p>邮箱：739588818@qq.com</p>
        </div>
    </div>
    <div class="top">
        <a href="#top">top</a>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/jq-canvaspercent.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $('.perCanvas').drawCanvasPercent();
    });
</script>
{% endblock %}

{% block footer %}
{% include 'public/footer.html' %}
{% endblock %}