article {
    width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    padding: 0 10px;
}

h2.title_tj {
    font: 18px "微软雅黑", Arial, Helvetica, sans-serif;
    color: #444;
    font-weight: bold;
    background: url(../images/h_line.jpg) repeat-x 20px center;
}

h2.title_tj p {
    background: #fff;
    width: 90px;
}

h2.title_tj span {
    color: #FE5187;
}

.bloglist {
    width: 740px;
    overflow: hidden;
    background: url(../images/r_line.jpg) repeat-y right;
}
.left {
    float: left;
}

.bloglist h3 {
    margin: 20px 0 10px 0;
    color: #333;
}

.bloglist h3:first-child a {
    color: #f00;
    background: url(../images/new.gif) no-repeat 330px;
    display: block;
}

a:link, a:visited {
    text-decoration: none;
    color: #333;
}
.bloglist figure {
    float: left;
    width: 183px;
}
.bloglist figure img {
    padding: 4px;
    border: #f4f2f2 1px solid;
    width: 175px;
}
img {
    border: 0;
    display: block;
}
.bloglist ul {
    float: left;
    width: 400px;
    margin: 10px 0px 0 15px;
    line-height: 20px;
    padding-right: 	20px;
}

ul {
    list-style: none;
}
a.readmore {
    background: #fd8a61;
    color: #fff;
    padding: 5px 10px;
    float: right;
    margin: 10px 0 0 0;
}
.dateview {
    width: 695px;
    overflow: hidden;
    clear: both;
    margin: 10px 0 0 0;
    display: inline-block;
    line-height: 26px;
    height: 26px;
    color: #838383;
    padding-left: 25px;
}
.dateview span {
    margin: 0 10px;
}
.dateview span a {
    color: #099B43;
}

.right {
    float: right;
}
.news {
    overflow: hidden;
    width: 250px;
}
.news h3 {
    font-size: 14px;
    background: url(../images/r_title_bg.jpg) repeat-x center;
}
.news h3 p {
    background: #fff;
    width: 70px;
}
.news h3 span {
    color: #65b020;
}
.news ul {
    margin-bottom: 20px;
}
.rank {
    margin: 10px 0;
}
.rank li {
    height: 25px;
    line-height: 25px;
    clear: both;
    padding-left: 5px;
    overflow: hidden;
}

.rank li:first-child a {
    color: #f00;
    display: block;
}

/*detail.html*/

.index_about {
    float: left;
    width: 70%;
    overflow: hidden;
    background: url(../images/r_line.jpg) repeat-y right;
    margin: 10px 0;
    padding-right: 36px;
}
.c_title {
    font-size: 22px;
    margin: 20px 0;
    text-align: center;
    color: #333;
}
.box_c {
    border: #ccc 1px dashed;
    text-align: center;
    padding: 5px 0;
    color: #999;
}
.box_c span {
    margin: 0 10px;
}
.box_c span {
    margin: 0 10px;
}
.box_c span a {
    color: #099;
}
ul.infos {
    overflow: hidden;
    margin: 20px 30px 20px 0;
    line-height: 28px;
    font-size: 14px;
    text-indent: 2em;
    color: #666;
}
.keybq {
    background: no-repeat 10px center #F8F8F8;
    line-height: 30px;
    height: 30px;
    padding-left: 40px;
    outline: 1px solid #F0F0F0;
}
.keybq span {
    color: #099;
    margin: 0 6px;
}
.nextinfo {
    line-height: 24px;
}

.blog_page >ul >li {
    float: left;
    margin-left: 6px;
    font-size: large;
}
.otherlink h2 {
    border-bottom: #099 2px solid;
    line-height: 40px;
    font-size: 12px;
    font-weight: normal;
    margin-right: 20px;
    padding-left: 40px;
}
.otherlink ul {
    margin: 10px 0;
    overflow: hidden;
}
.otherlink li {
    line-height: 24px;
    height: 24px;
    display: block;
    width: 290px;
    float: left;
    overflow: hidden;
    margin-right: 30px;
}


/*comment.html*/
#blog-comments-placeholder {
    padding: 15px 30px 30px 30px;
    border: 2px solid #dedede;
    margin-top: 30px;
    background: #fff;
}

.feedbackItem {
    margin-top: 10px;
}
.feedbackListSubtitle {
    padding: 0 5px;
}
.feedbackManage {
    line-height: 26px;
    float: right;
}
.comment_actions a {
    padding-right: 10px;
}
.feedbackCon {
    border: 1px dashed #dedede;
    padding: 10px;
    margin: 10px 0;
}
.blog_comment_body {
    word-wrap: break-word;
    overflow: hidden;
}
.comment_vote {
    text-align: right;
}
.comment_vote a {
    text-decoration: none!important;
    padding-left: 10px;
}


/* comment bottom*/
#comment_form_container {
    border: 2px solid #dedede;
    padding: 20px;
    background-color: #fff;
    margin-top: 30px;
}
#commentform_title {
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    margin-bottom: 10px;
}

div.commentform p {
    margin-top: 10px;
    line-height: 20px;
}
.commentbox_title {
    width: 450px;
}
.commentbox_title_left {
    float: left;
}
div.commentform p {
    margin-top: 10px;
    line-height: 20px;
}

input[type=button] {
    -webkit-appearance: button;
}

.comment_btn {
    height: 26px;
    width: 68px;
    margin: 0;
    padding: 0;
    line-height: 22px;
}


/* msg_board*/
.page{
    width: 960px;
    margin: auto;
    padding: 20px;
    background: #fff;
    margin-top:20px;
}
.leave_title{
    font-size: 16px;
    color: blue;
}
.leave_my_edit{
    font-size: 14px;
    color: #999;
    padding-left:20px;
}
.leave_my{
    font-size: 18px;
    color: #fff;
}
.leave_my_text{
    float: left;
}
.leave_set{
    overflow: hidden;
    padding: 0;
}
.leave_set li{
    float: left;
    margin-left:15px;
}
.leave_set li:first-child{
    margin-left:0;
}
.leave_set li:nth-child(3){
    float: right;
}
.leave_set li:nth-child(4){
    float: right;
}
.message{
    overflow: hidden;
    margin-top: 20px;
}
.message_left{
    float: left;
    width: 150px;
}
.message_right{
    float: left;
    width: 745;
}