{% load markdown_deux_tags %}
<div id="blog-comments-placeholder">
    {% with comments.count as total_comments %}
    <div>评论列表 ({{ total_comments }})</div>
    {% endwith %}

    {% for comment in comments %}
    <div class="feedbackItem">
        <div class="feedbackListSubtitle">
            <div class="feedbackManage">
                <span>
                    <!--<a>回复</a>-->
                    <!--<a>引用</a>-->
                </span>
            </div>
            <!--<a>#1楼</a>-->
            <a>#{{ forloop.counter }}楼</a>
            <span>{{ comment.created }}&nbsp;&nbsp;</span>
            <a>{{ comment.name }}</a>
        </div>
        <div class="feedbackCon">
            <div class="blog_comment_body">{{ comment.body|linebreaks }}</div>
            <div class="comment_vote">
                <!--<a>支持</a>-->
                <!--<a>反对</a>-->
            </div>
            <span></span>
        </div>
    </div>
    {% empty %}
    <p>暂时还没有评论.</p>
    {% endfor %}
</div>


<div id="comment_form_container">
    {% include 'public/message.html' %}
    <form action="." method="post">
        {% csrf_token %}
    <div id="comment_form_title">发表评论</div>
    <span id="tip_comment" style="color:Red"></span>
        <!--{{ comment_form.as_p }}-->
    <p>
        昵称{{ comment_form.name }}
    </p>
    <p>
        email{{ comment_form.email }}
    </p>

    <div class="commentbox_main">
        <div class="commentbox_title">
            <div class="commentbox_title_left">评论内容</div>
            <div>{{ comment_form.body }}</div>
        </div>
    </div>
    <p id="commentbox_opt">
        <input class="comment_btn" type="submit" value="提交评论">
    </p>
    </form>

</div>


