{% extends 'public/base.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% include 'public/nav.html' %}
{% endblock %}

{% block content %}
<div class="blog">
{% for note in notes %}
    <figure>
        <a>
            <img src="">
        </a>
        <p>
            <a href="{{ note.get_absolute_url }}">{{ note.title}}</a>
        </p>
        <figcaption>{{ note.body}}</figcaption>
    </figure>
{% endfor %}
</div>
{% include 'public/pagination.html' with page=notes %}
{% endblock %}
