{% extends 'public/base.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% include 'public/nav.html' %}
{% endblock %}

{% block content %}

<article style="background-color: #fff;">
    <h2 class="title_tj">
        <p>随笔<span>展示</span></p>
    </h2>
    <div class="bloglist left">
        {% for note in notes %}
        <h3>
            <a href="{{ note.get_absolute_url }}">{{ note.title}}</a>
        </h3>
        <figure>
            <img src="{{ note.images.url }}">
        </figure>
        <ul>
            <p>{{ note.body|truncatewords:30|linebreaks }}</p>
            <a class="readmore" href="{{ note.get_absolute_url }}">阅读全文</a>
        </ul>
        <p class="dateview">
            <span><i class="fa fa-fw fa-clock-o"></i>&nbsp;&nbsp;{{ note.publish }}</span>
            <span>作者:付敏</span>
            <span>
                {% for tag in note.tags.all %}
                <a href="{% url 'note_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
        </p>
        {% endfor %}
        <div class="blog_page">
            <ul>
            {% if page.has_previous %}
            <li><a href="?page=1"><i class="fa fa-fw fa-angle-double-left"></i></a></li>
            <li><a href="?page={{ page.previous_page_number }}"><i class="fa fa-fw fa-angle-left"></i></a></li>
            {% endif %}
            <li>当前页 {{ page.number }} 总共 {{ page.paginator.num_pages }}</li>
            {% if page.has_next %}
            <li><a href="?page={{ page.next_page_number }}"><i class="fa fa-fw fa-angle-right"></i></a></li>
            <li><a href="?page={{ page.paginator.num_pages }}"><i class="fa fa-fw fa-angle-double-right"></i></a><li>
            {% endif %}
            </ul>
        </div>
    </div>
    {% include 'blog/right.html' %}
</article>

{% endblock %}
