{% load blog_tag %}
<aside class="right">
        <div class="news">
            <h3>
                <p>
                    <span>随笔</span>分类
                </p>
            </h3>
            <ul class="rank">
                <li>标题</li>
            </ul>

            <h3>
                <p>
                    <span>日期</span>分类
                </p>
            </h3>
            {% show_date_notes 6 %}
            <!--<ul class="rank">-->
            <!--</ul>-->

            <h3>
                <p>
                    <span>评论</span>
                </p>
            </h3>
            <ul class="rank">
                <li>标题</li>
            </ul>
        </div>
    </aside>