{% load blog_tag %}
<aside class="right">
        <div class="news">
            <h3>
                <p>
                    <span>随笔</span>分类
                </p>
            </h3>
            <ul class="rank">
                <li>标题</li>
            </ul>

            <h3>
                <p>
                    <span>日期</span>排序
                </p>
            </h3>
            {% show_date_notes 6 %}
            <h3>
                <p>
                    <span>评论</span>排序
                </p>
            </h3>
            {% get_most_commented_posts as most_commented_posts %}
            <ul class="">
                {% for note in most_commented_posts %}
                <li>
                    <a href="{{ note.get_absolute_url }}"><i class="fa fa-fw fa-square"></i>{{ note.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>