{% extends 'public/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/mood.css' %}">
{% include 'public/nav.html' with pageName='mood' %}
{% endblock %}


{% block content %}
<div class="map">
    <ul>
        <li><i class="fa fa-map-marker"></i><a href="{% url 'home' %}">首页</a></li>
        <li><i class="fa fa-angle-right"></i><a href="">心情</a></li>
    </ul>
</div>

<div class="main-content clearfix">
    <div class="main-content-box">
        <ul id="a_say" class="list">
            <li class="list-li animated bounceIn clearfix">
                <div class="say-pic-box fl">
                    <img src="{% static 'images/note1.jpg' %}" width="100" height="100">
                </div>
                <div class="say-text fr">
                    <p class="info">
                        http://www.duanliang920.com/Saylist/
                        想要做成一件事，除了勤奋，还需要专注与热爱，三者缺一不可。这样才有可能会成功！
                        <span class="date-time">2017-04-19</span>
                    </p>
                </div>
            </li>

            <li class="list-li animated bounceIn clearfix">
                <div class="say-pic-box fl">
                    <img src="{% static 'images/note1.jpg' %}" width="100" height="100">
                </div>
                <div class="say-text fr">
                    <p class="info">
                        你愿与我一路同行，我将为你背负行囊！---加油 2017~
                        <span class="date-time">2017-05-19</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'public/footer.html' %}
{% endblock %}