{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<script src="{% static 'js/nav.js' %}"></script>
<header>
<div class="quotes">
    <p>心情：http://www.duanliang920.com/Saylist/<br>个人简历：http://5513cb4cdb558.t73.qifeiye.com/</p>
    <!--<div class="text5">随笔</div>-->
    <div class="flower">
        <img src="{% static 'images/flower.jpg' %}">
    </div>
</div>
<div id="nav">
    <ul>
        <li {% if pageName == 'home' %}class="active"{% endif %}><a  href="{% url 'home' %}">首页</a></li>
        <li {% if pageName == 'blog_index' or pageName == 'blog_detail' %}class="active"{% endif %}><a href="{% url 'note_list' %}?page=1">随笔</a></li>
        <li {% if pageName == 'mood' %}class="active"{% endif %}><a href="{% url 'mood_index' %}">心情</a></li>
        <li {% if pageName == 'msg_board' %}class="active"{% endif %}><a href="{% url 'msg_index' %}">留言板</a></li>
        <li {% if pageName == 'resume' %}class="active"{% endif %}><a href="{% url 'resume_index' %}">我</a></li>
    </ul>
</div>
</header>
